.content {
  margin-bottom: 30px;
}

google-map {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 768px) {
  google-map {
    height: 50vh;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  google-map {
    height: 75vh;
  }
}

@media (min-width: 1025px) {
  google-map {
    height: 90vh;
  }
}
