<app-header></app-header>

<app-product-wrapper
  [header]="'MEN.HEADER'"
  [content]="'MEN.CONTENT'"
  [maxRows]="2"
  [gallery]="'men'">
</app-product-wrapper>
<app-product-wrapper
  [header]="'WOMEN.HEADER'"
  [content]="'WOMEN.CONTENT'"
  [maxRows]="2"
  [gallery]="'women'">
</app-product-wrapper>
<app-product-wrapper
  [header]="'SPORT.HEADER'"
  [content]="'SPORT.CONTENT'"
  [maxRows]="2"
  [gallery]="'sport'">
</app-product-wrapper>
<app-product-wrapper
  [header]="'HOME.HEADER'"
  [content]="'HOME.CONTENT'"
  [maxRows]="2"
  [gallery]="'home'">
</app-product-wrapper>

<app-contact></app-contact>
<app-footer></app-footer>
